*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url('https://res.cloudinary.com/dylvkdabj/image/upload/v1649193274/website%20pics%20family/pexels-nick-demou-986831_1_igacsg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.logo-container {
  max-width: 80vw;
  margin: 0 auto;
  padding-top: 7.5rem;
}

.hero-container {
  display: flex;
  max-width: 80vw;
  margin: 0 auto;
  gap: 50px;
}

svg {
  width: 28px;
  height: 28px;
}

.main-hero-text {
  font-size: 5rem;
  padding-top: 17.5rem;
  font-weight: 700;
}

.hero-right {
  position: relative;
  height: 90vh;
}

.hero-right-content {
  width: 100%;
  height: 100%;
  align-items: flex-start;
  padding-top: 36rem;
}

.hero-small-text {
  font-size: 1.325;
  font-weight: 700;
  padding-bottom: 3rem;
}

.sm-icons {
  padding-right: 3rem;
}

a {
  text-decoration: none;
  color: white;
}
