@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url('https://res.cloudinary.com/dylvkdabj/image/upload/v1649193274/website%20pics%20family/pexels-nick-demou-986831_1_igacsg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 130vh;
}

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.navbar-container {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 1.7rem 0;
}

.arrow-left {
  padding-right: 1rem;
}

.arrow-label {
  padding-right: 2rem;
}

.nav-left-container {
  display: flex;
  padding-left: 4rem;
  justify-content: center;
  align-items: center;
}

.icon {
  padding-right: 1rem;
}

.nav-right-container {
  display: flex;
  margin-right: 4rem;
  justify-content: center;
  align-items: center;
}

.right {
  margin-left: 1.5rem;
}

.mobile-no-credit {
  display: none;
}

.top-right-icon {
  width: 18px;
  height: 18px;
}

button {
  background-color: #583bb6;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 34px;
  color: #fff;
  border-radius: 50px;
}

button:hover {
  background-color: #3d2e88;
}

.logo-container {
  max-width: 80vw;
  margin: 0 auto;
  padding-top: 7.5rem;
}

.hero-container {
  display: flex;
  max-width: 80vw;
  margin: 0 auto;
  gap: 50px;
}

svg {
  width: 28px;
  height: 28px;
}

.main-hero-text {
  font-size: 5rem;
  padding-top: 17.5rem;
  font-weight: 700;
}

.hero-right {
  position: relative;
  height: 90vh;
}

.hero-right-content {
  width: 100%;
  height: 100%;
  align-items: flex-start;
  padding-top: 36rem;
}

.hero-small-text {
  font-size: 1.325;
  font-weight: 700;
  padding-bottom: 3rem;
}

.sm-icons {
  padding-right: 3rem;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 928px) {
  .icon {
    display: none;
  }

  .nav-left-container {
    padding-left: 1.5rem;
  }

  .nav-right-container {
    margin-right: 1.5rem;
  }

  .check-mark,
  .no-credit-card {
    display: none;
  }

  .mobile-no-credit {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #000;
    background-color: rgb(228, 228, 228);
    padding: 0.5rem 0;
  }

  .right {
    margin: 0;
  }

  .hero-container {
    flex-direction: column;
    gap: 0;
  }

  .logo-container {
    padding-top: 3rem;
  }
  .main-hero-text {
    font-size: 2.7rem;
    padding-top: 12.5rem;
    font-weight: 700;
  }

  .hero-right-content {
    padding-top: 1.5rem;
  }
}
